@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin centering {
  align-items: center;
  text-align: center;
  justify-content: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin infoBox {
  background-color: $info-box;
  border: none;
}

@mixin champMasteryImg($width) {
  width: $width;
  border-radius: 20px;
  border: none;
  margin-top: 10%;
}

@mixin matchBox($color, $width, $height) {
  display: flex;
  width: $width;
  height: $height;
  align-items: center;
  background-color: white;
  border-left: 10px solid $color;
  margin-top: 7px;
  margin-bottom: 7px;
}
