$main-color: rgb(184, 191, 202);
$sub-color1: white;
$sub-color2: rgba(37, 37, 37, 0.83);

$blue: rgb(71, 71, 255);
$red: rgb(255, 88, 88);

$info-box: rgb(239, 242, 248);
$info-box-border: 3px solid black;
$image-box-gold: 4px solid rgb(171, 176, 24);
