.btn {
  &-category {
    height: 40px;
    margin: 10px;
    margin-left: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
    cursor: pointer;
    font-size: 20px;

    &:hover {
      transition: 0.3s;
      background-color: rgb(163, 163, 255);
      border-radius: 20px;
    }
  }

  &-search {
    width: 70px;
    height: 35px;
    background-color: white(100, 100, 100);
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 10px;
  }
}
