.btn {
  &-category {
    min-width: 50px;
    margin-left: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
    cursor: pointer;
    font-size: 0.9em;

    &:hover {
      transition: 0.3s;
      background-color: $sub-color2;
      height: 100%;
    }
  }

  &-search {
    width: 70px;
    height: 52px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
  }
}

#btn-match-add {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
}

// @include mobile {
//   .btn {
//     &-category {
//       height: 32px;
//       margin-left: 20px;
//       border: none;
//       background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
//       cursor: pointer;
//       font-size: 0.8em;

//       &:hover {
//         transition: 0.3s;
//         background-color: rgb(163, 163, 255);
//         border-radius: 20px;
//       }

//       &::after {
//         content: "|";
//         float: right;
//         margin-right: -23px;
//       }

//       &:last-child::after {
//         content: "";
//       }
//     }

//     &-search {
//       width: 70px;
//       height: 52px;
//       background-color: white;
//       border-top-right-radius: 15px;
//       border-bottom-right-radius: 15px;
//       border: none;
//     }
//   }
// }
