#ingame-box {
  @include infoBox;

  display: flex;
  flex-direction: column;
  height: 450px;
  border-radius: $rad;
  overflow: hidden;

  #ingame-status {
    display: flex;
    font-size: 1.1em;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    background-color: $mint;
    color: black;

    &-1 {
      display: flex;

      &-type {
        font-size: 0.8em;
        text-indent: 50px;

        &::after {
          content: "|";
          float: right;
          margin-right: 15px;
          margin-left: -30px;
        }
      }

      &-map {
        font-size: 0.8em;
        text-indent: 4px;
      }
    }

    &-2 {
      font-size: 1.1em;
      margin-left: 260px;
    }
  }

  .ingame-detail {
    display: flex;
    color: white;

    .ingame-info {
      @include centering;

      display: flex;
      flex: 1;

      #team-blue {
        @include ingameBox($blue-team);
      }

      #team-red {
        @include ingameBox($red-team);
      }
    }
  }
}

.banned-champ-list {
  display: flex;
  padding: 5px;
  background-color: $main-color;

  .banned-champ {
    width: 30px;
    padding: 5px;

    img {
      width: 30px;
    }
  }
}

.ingame-tb {
  display: table;

  tbody {
    display: table-row-group;
  }

  // &-th0 {
  //   width: 40px;
  // }

  &-th1 {
    width: 150px;
  }

  // &-th2 {
  //   width: 150px;
  // }

  // &-th3 {
  //   width: 120px;
  // }

  &-tr2 {
    height: 60px;
  }

  &-champ-blue {
    border-left: 6px solid $blue;

    img {
      width: 35px;
      margin-top: 5px;
    }
  }

  &-champ-red {
    border-left: 6px solid $red;

    img {
      width: 35px;
      margin-top: 5px;
    }
  }

  &-spell {
    width: 18px;

    .spell-box {
      height: 18px;
    }

    .spell-img {
      width: 100%;
      border-radius: 100px;
    }
  }

  &-name {
    font-size: 0.8em;
    text-align: left;
    text-indent: 6px;
    cursor: pointer;
  }

  &-rank {
    font-size: 0.8em;

    img {
      width: 35px;
    }
  }

  &-lp {
    font-size: 0.7em;
  }

  &-winrate {
    font-size: 0.8em;
  }
}

@include mobile {
  #ingame-box {
    height: 700px;

    #ingame-status {
      font-size: 0.7em;
      height: 50px;

      &-1 {
        &-type {
          width: 130px;
          font-size: 0.8em;
          text-indent: 10px;

          &::after {
            float: none;
            margin-right: 0;
            margin-left: 13px;
          }
        }

        &-map {
          font-size: 0.8em;
          text-indent: 0;
          width: 55px;
        }
      }

      &-2 {
        font-size: 1.1em;
        margin-left: 100px;
      }
    }

    .ingame-detail {
      flex-direction: column;

      .ingame-info {
        @include centering;

        display: flex;
        flex: 1;

        #team-blue {
          @include ingameBox($blue-team);
        }

        #team-red {
          @include ingameBox($red-team);
        }
      }
    }
  }

  .banned-champ-list {
    display: flex;
    padding: 5px;
    background-color: $main-color;

    .banned-champ {
      width: 20px;
      padding: 3px;

      img {
        width: 20px;
      }
    }
  }

  .ingame-tb {
    display: table;

    tbody {
      display: table-row-group;
    }

    // &-th0 {
    //   width: 40px;
    // }

    &-th1 {
      width: 80px;
    }

    // &-th2 {
    //   width: 150px;
    // }

    // &-th3 {
    //   width: 120px;
    // }

    &-tr2 {
      height: 50px;
    }

    &-champ-blue {
      border-left: 6px solid $blue;

      img {
        width: 25px;
        margin-top: 5px;
      }
    }

    &-champ-red {
      border-left: 6px solid $red;

      img {
        width: 25px;
        margin-top: 5px;
      }
    }

    &-spell {
      width: 12px;

      .spell-box {
        height: 18px;
      }

      .spell-img {
        width: 100%;
      }
    }

    &-name {
      font-size: 0.6em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-rank {
      font-size: 0.6em;

      img {
        width: 28px;
      }
    }

    &-lp {
      font-size: 0.6em;
    }

    &-winrate {
      font-size: 0.6em;
    }
  }
}
