.match-detail-tb {
  display: table;
  width: 840px;
  background-color: white;
  border-radius: 20px;
}

.red {
  background-color: $defeat;
}

.blue {
  background-color: $victory;
}

.match-tr-1 {
  background-color: white;

  td {
    font-size: 1em;
  }
}

.match-tr-2 {
  font-size: 0.65em;

  &-img1 {
    @include square(35px);
  }

  &-img2 {
    @include square(14px);
    padding: 1px;
  }

  &-img3 {
    @include square(27px);
    padding: 1px;
  }

  &-sp {
    width: 14px;

    &-d {
      display: flex;
      flex-direction: column;
    }
  }

  &-name {
    text-align: left;
    width: 95px;
    cursor: pointer;
  }
}
