#match {
  @include centering;

  display: flex;
  flex-direction: column;

  &-statistic {
    display: flex;
    width: 100%;
    background-color: $main-color;
    margin-bottom: 7px;
    border-radius: 20px;

    .chart-group {
      @include centering;

      display: flex;
      flex-direction: column;
    }

    .chart-box-1 {
      @include centering;

      display: flex;
      flex-grow: 1;
      flex-direction: column;

      &-1 {
        line-height: 50px;
      }

      &-2 {
        display: flex;
        flex-direction: column;

        &-vod {
          display: flex;
          justify-content: center;
          font-size: 1.1em;
          line-height: 50px;

          &-v {
            color: $victory;
          }

          &-d {
            color: $defeat;
          }
        }

        &-empty {
          display: flex;
          align-items: center;
          height: 100px;
        }
      }
    }

    .chart-box-2 {
      @include centering;

      display: flex;
      flex-direction: column;

      &-1 {
        font-size: 1.1em;
        line-height: 30px;
      }

      &-2 {
        font-size: 1.2em;
        line-height: 30px;
      }

      &-3 {
        font-size: 1em;
        line-height: 30px;
      }
    }

    .chart-box-3 {
      @include centering;

      display: flex;
      flex-grow: 1;

      &-1 {
        display: flex;
        font-size: 1em;
      }

      &-2 {
        @include centering;

        display: flex;
        flex-direction: column;
        width: 120px;

        &-vod {
          display: flex;
          justify-content: center;
          font-size: 0.8em;
          line-height: 30px;
        }
      }
    }
  }

  &-history {
    @include centering;

    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;

    .win {
      @include matchBox($victory, $blue);

      .history-summ-1-vod {
        font-size: 1.2em;
        color: $blue;
        font-weight: bold;
      }
    }

    .lose {
      @include matchBox($defeat, $red);

      .history-summ-1-vod {
        font-size: 1.2em;
        color: $red;
        font-weight: bold;
      }
    }

    .draw {
      @include matchBox($gray, $main-color);

      .history-summ-1-vod {
        font-size: 1.2em;
        color: black;
        font-weight: bold;
      }
    }

    .history-summ {
      &-1 {
        display: flex;
        flex-direction: column;
        width: 150px;

        &-game {
          font-size: 0.85em;
          line-height: 30px;
        }

        &-passed {
          font-size: 0.9em;
          line-height: 20px;
        }

        &-duration {
          font-size: 0.9em;
          line-height: 20px;
        }
      }

      &-2 {
        display: flex;
        width: 124px;
        height: 100%;

        &-1 {
          @include centering;

          display: flex;
          flex-direction: column;
          width: 80px;

          .spell-box {
            display: flex;
            flex-direction: row;

            &-1 {
              padding: 3px;

              img {
                @include square(27px);
                border-radius: $rad;
              }
            }
          }

          &-img-1 {
            @include square(60px);
            border-radius: $rad;
          }
        }

        &-2 {
          display: flex;
          flex-direction: column;
          width: 30px;
          margin-top: 10px;
          align-items: center;

          .rune-box-1 {
            @include square(30px);

            border-radius: 20px;
            overflow: hidden;
            background-color: black;
            margin-bottom: 2px;

            img {
              @include square(27px);

              margin-top: 1px;
            }
          }

          .rune-box-2 {
            @include square(25px);

            border-radius: 20px;
            overflow: hidden;
            background-color: black;
            margin-top: 2px;

            img {
              @include square(15px);

              margin-top: 5px;
            }
          }
        }
      }

      &-3 {
        display: flex;
        flex-direction: column;
        width: 170px;
        align-items: center;

        &-1 {
          font-size: 1.2em;
          margin-bottom: 5px;
        }

        &-2 {
          font-size: 1em;
          margin-top: 5px;
        }

        .d {
          color: $red;
        }
      }

      &-4 {
        display: flex;
        flex-direction: column;
        width: 160px;
        align-items: center;

        &-1 {
          font-size: 0.9em;
          margin-bottom: 5px;
        }

        &-2 {
          font-size: 0.8em;
          margin-top: 5px;
        }
      }

      &-5 {
        display: flex;
        width: 270px;

        justify-content: center;

        &-img {
          @include square(30px);

          padding: 1px;
          border-radius: $rad;
        }
      }

      &-6 {
        display: flex;
        width: 200px;
        justify-content: center;

        ul {
          width: 80px;
        }

        li {
          display: flex;
        }

        &-1 {
          &-img {
            @include square(15px);

            border-radius: $rad;
          }

          &-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0.6em;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-add {
    @include centering;

    display: flex;
    width: 1200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.443);
    border-radius: $rad;
  }
}

@include mobile {
  #match {
    &-statistic {
      .chart-box-2 {
        margin-right: 30px;

        &-1 {
          font-size: 1em;
        }

        &-2 {
          font-size: 1.2em;
        }

        &-3 {
          font-size: 1em;
        }
      }

      .chart-box-3 {
        display: none;
      }
    }

    &-history {
      .win {
        .history-summ-1-vod {
          font-size: 0.8em;
        }
      }

      .lose {
        .history-summ-1-vod {
          font-size: 0.8em;
        }
      }

      .draw {
        .history-summ-1-vod {
          font-size: 0.8em;
        }
      }

      .history-summ {
        &-1 {
          width: 130px;

          &-game {
            font-size: 0.6em;
          }

          &-passed {
            font-size: 0.6em;
          }

          &-duration {
            font-size: 0.6em;
          }
        }

        &-2 {
          &-1 {
            width: 45px;

            img {
              @include square(40px);
            }

            .spell-box {
              &-1 {
                padding: 1px;

                img {
                  @include square(20px);
                }
              }
            }
          }

          &-2 {
            margin-top: 25px;

            .rune-box-1 {
              @include square(20px);

              img {
                @include square(20px);

                margin-top: 1px;
              }
            }

            .rune-box-2 {
              @include square(20px);

              img {
                @include square(14px);

                margin-top: 3px;
              }
            }
          }
        }

        &-3 {
          width: 110px;
          &-1 {
            font-size: 0.5em;
          }

          &-2 {
            font-size: 0.5em;
          }
        }

        &-4 {
          display: none;
        }

        &-5 {
          &-img {
            @include square(17px);

            padding: 1px;
            border-radius: $rad;
          }
        }

        &-6 {
          display: none;
        }
      }
    }

    &-add {
      width: 100%;
    }
  }

  .table-location {
    width: 100%;
  }
}
