#footer {
  height: 170px;
  background-color: rgba(0, 0, 0, 0.39);
  margin-top: auto;
  font-size: 0.4em;
}

// @include mobile {
//   #footer {
//     height: 200px;
//     background-color: rgba(0, 0, 0, 0.39);
//     margin-top: auto;
//   }
// }
