$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$desktop-width: 1210px;
$mobile-width: 380px;

$main-color: rgba(47, 48, 53, 0.9);
$sub-color1: gray;

$blue: rgb(71, 71, 255);
$red: rgb(255, 0, 0);
$gray: rgb(158, 158, 158);
$mint: rgb(0, 201, 144);

$blue-team: rgb(67, 148, 167);
$red-team: rgb(174, 48, 60);

$info-box-border: 3px solid black;

$victory: rgb(118, 179, 224);
$defeat: rgb(255, 159, 170);
// rgb(222, 110, 123);

$rad: 20px;
