@import "../../common.scss";
@import "../../_variable.scss";

button {
  height: 40px;
  margin: 10px;
  margin-left: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
  cursor: pointer;
  font-size: 20px;
}

#nav {
  height: 60px;
  float: left;
}

#content-box {
  // @include centering;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#summoner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.summoner-detail {
  width: 200px;
  padding: 20px;
}

#profile-icon {
  width: 150px;
  height: 150px;
}

#rank-emblem {
  width: 50px;
  height: 50px;
  border: 40px gray;
}

.outcome {
  @include centering;
  display: flex;
  flex-direction: row;

  &-win {
    color: $win-color;
  }
  &-lose {
    color: $lose-color;
  }
}
