#footer {
  display: flex;
  height: 170px;
  background-color: $sub-color1;
  margin-top: auto;
  font-size: 0.6em;
  justify-content: center;
  align-items: center;

  #copyright {
    width: 1100px;
    border-top: 1px solid white;
    padding: 20px;
  }
}

@include mobile {
  #footer {
    height: 130px;

    #copyright {
      width: 300px;
    }
  }
}
