#nav {
  display: flex;
  flex-direction: column;
}

#nav button {
  height: 50px;
  margin: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
  cursor: pointer;
  font-size: 20px;
}
