#nav {
  height: 60px;
  float: left;
}

button {
  height: 40px;
  margin: 10px;
  margin-left: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0); /* rgba(0, 0, 0, 0) */
  cursor: pointer;
  font-size: 20px;
}
