#article {
  @include centering;

  display: flex;
  flex-direction: column;
  background-color: $sub-color2;
}

#content-box {
  width: 1210px;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;

  &-1 {
    @include infoBox;

    display: flex;
    flex-direction: column;
    height: 220px;
    border: none;
    background-color: $main-color;
    margin-top: 15px;

    &-1 {
      display: flex;
      width: 700px;
      height: 100px;
      font-size: 1em;
      align-items: center;
      padding: 35px;

      &-img {
        @include square(110px);
        margin-left: 50px;
      }

      .profile-detail {
        display: flex;
        flex-direction: column;
        height: 80px;
        margin-left: 35px;
        text-align: left;

        &-1 {
          font-size: 1.6em;
          line-height: 10px;
        }

        &-2 {
          display: flex;
          line-height: 50px;

          #region {
            font-size: 1em;
          }

          #flag {
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-left: 5px;
          }
        }

        &-3 {
          font-size: 1.3em;
          line-height: 20px;
        }
      }
    }
  }

  &-2 {
    @include infoBox;

    display: flex;
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    background-color: transparent;

    &-1 {
      @include infoBox;

      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }

    &-2 {
      @include centering;
      @include infoBox;

      display: flex;
      flex-grow: 1;
    }
  }
}

.profile-rank-detail {
  display: flex;
  flex-grow: 1;
  width: 450px;
  align-items: center;

  &-1 {
    margin-left: 43px;

    &-img1 {
      @include square(80px);
    }
  }

  &-2 {
    @include centering;

    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;

    &-unranked {
      font-size: 1.3em;
    }

    &-1 {
      font-size: 1em;
    }

    &-2 {
      font-size: 1.3em;
    }

    &-3 {
      font-size: 1em;
      line-height: 40px;
    }

    &-4 {
      @include centering;
      display: flex;
      flex-direction: row;
      font-size: 1em;

      &-1 {
        color: $blue;
        margin-right: 5px;
        font-size: 0.8em;
      }

      &-2 {
        color: $red;
        margin-left: 5px;
        font-size: 0.8em;
      }
    }

    &-5 {
      font-size: 1em;
      line-height: 30px;
      font-size: 0.8em;
    }
  }

  &:last-child {
    border-top: 2px solid black;
  }
}

.profile-champ-detail {
  @include centering;

  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;

  &-img1 {
    @include champMasteryImg(100px);
  }

  &-img2 {
    @include champMasteryImg(130px);
  }

  &-mastery {
    position: relative;
    bottom: 19px;
    height: 0;
  }

  &-info {
    font-size: 0.8em;
    margin-top: 50px;
  }
}

// @include mobile {
//   #article {
//     @include centering;

//     display: flex;
//     flex-direction: column;
//   }

//   #content-box {
//     display: flex;
//     flex-direction: column;
//     width: 470px;
//     background-color: $sub-color2;
//   }

//   #summoner {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     &-info {
//       @include infoBox;

//       display: flex;
//       width: 464px;
//       height: 200px;
//     }

//     &-champ {
//       @include infoBox;

//       display: flex;
//       width: 464px;

//       .champ-mastery {
//         @include centering;

//         display: flex;
//         flex-direction: column;
//         width: 100px;
//         flex-grow: 1;

//         &-img1 {
//           @include champMasteryImg(70px);
//         }

//         &-img2 {
//           @include champMasteryImg(80px);
//         }

//         &-info {
//           display: flex;
//           flex-direction: column;
//           font-size: 0.4em;
//         }
//       }
//     }
//   }

//   .summoner-detail {
//     @include centering;

//     display: flex;
//     flex-direction: column;
//     width: 100px;
//     font-size: 0.7em;

//     #profile-icon {
//       width: 70px;
//       border: $image-box-gold;
//     }

//     .rank-emblem {
//       width: 90px;
//       height: 100px;
//     }

//     .outcome {
//       @include centering;
//       display: flex;
//       flex-direction: row;

//       &-win {
//         color: $blue;
//         margin-right: 5px;
//       }

//       &-lose {
//         color: $red;
//         margin-left: 5px;
//       }
//     }
//   }
// }
