#content-box {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

#summoner {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  height: 90%;

  &-info {
    @include infoBox;

    display: flex;
    width: 80%;
    height: 47%;
    margin-left: 60px;
  }

  &-champ {
    @include infoBox;

    display: flex;
    flex-grow: 1;
    margin-top: 30px;
    margin-left: 20px;
    .champ-mastery {
      @include centering;

      &-img1 {
        @include champMasteryImg(30%);
      }

      &-img2 {
        @include champMasteryImg(40%);
      }

      &-info {
        width: 100%;
      }
    }
  }
}

.summoner-detail {
  @include centering;

  padding: 20px;
  margin-top: 30px;
  margin-inline: 20px;

  #profile-icon {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    border: $image-box-gold;
  }

  #rank-emblem {
    width: 80px;
    height: 80px;
    border: 40px gray;
  }

  .outcome {
    @include centering;
    display: flex;
    flex-direction: row;

    &-win {
      color: $win-color;
      margin-right: 5px;
    }
    &-lose {
      color: $lose-color;
      margin-left: 5px;
    }
  }
}
